!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "initial-scale=1.0"}
    %meta{:name => "description", :content => "Showcase"}
    %title Bas van Straaten - Showcase B1.2
    %link{:href => "css/global.css", :rel => "stylesheet", :type => "text/css"}

  %body
    %nav
      .wrapper

    %section#banner
      .wrapper
        #banner_image
          .flex_wrapper
            .row
              .col_4
                %h1 Daily Design Challenge 6: Music App
                %h2 Design a beautiful App to be launced in the App Store!
              .col_4
                %a.btn{href: "#"} Participate

    %section#content
      .wrapper
        .row
          .col_3#sort_menu
            %p Sort by
            %ul
              %li.active popularity
              %li entries
              %li newest
              %li likes
        .row
          .col_3#main
            .project
              %img
              .flex_wrapper
                .text_wrapper
                  %h3 Pinterest Clone
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repellendus, voluptatem ab amet sunt officia nemo aliquid blanditiis eveniet quos earum voluptatibus. Nesciunt, porro, fugit!
            .project
              %img
              .flex_wrapper
                .text_wrapper
                  %h3 Behance Portfolio Page
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repellendus, voluptatem ab amet sunt officia nemo aliquid blanditiis eveniet quos earum voluptatibus. Nesciunt, porro, fugit!
            .project
              %img
              .flex_wrapper
                .text_wrapper
                  %h3 Dribbble Shot Invite
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repellendus, voluptatem ab amet sunt officia nemo aliquid blanditiis eveniet quos earum voluptatibus. Nesciunt, porro, fugit!
            .project
              %img
              .flex_wrapper
                .text_wrapper
                  %h3 Social Media Banner
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repellendus, voluptatem ab amet sunt officia nemo aliquid blanditiis eveniet quos earum voluptatibus. Nesciunt, porro, fugit!
            .project
              %img
              .flex_wrapper
                .text_wrapper
                  %h3 Instagram Redesign
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repellendus, voluptatem ab amet sunt officia nemo aliquid blanditiis eveniet quos earum voluptatibus. Nesciunt, porro, fugit!

          .col_1#sidebar
            %a.submit_button{href: "#"}
              %h5 Submit New Challenge
            .sidebar
              %h4 Active
              %ul
                %li Social Media Banner
                %li Pinterest Clone
                %li Dribbble Shot Invite
                %li Instagram Redesign
            .sidebar
              %h4 My Challenges
              %ul
                %li Rails Landing Page
                %li Behance Portfolio
                %li Dribbble Shot Invite
                %li Instagram Redesign
